/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Global Styles */
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3d9c5;
  color: #4d4d4d;
}

a {
  color: #4d4d4d;
  text-decoration: none;
}

a:hover {
  color: #ffac33;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 36px;
  font-family: "Indie Flower", cursive;
  color: #4d4d4d;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
}

nav {
  background-color: #8b7463;
  padding: 10px 0;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #f2e8da;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  box-sizing: border-box;
}

nav a:hover {
  background-color: #ffac33;
  color: #4d4d4d;
}

/* Index Page Styles */

.index-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.index-image {
  max-width: 50%;
  height: auto;
}

.adopt-now-button {
  width: 120px;
  height: 60px;
  background-color: #ffac33;
  border-radius: 30px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-button {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ff7f00;
}

/* Gallery Styles */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Media Query for Large Screens */
@media screen and (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card {
  perspective: 1000px;
  width: 300px;
  height: 300px;
  margin: 15px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

/* Card Front Styles */

.card-front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Card Back Styles */

.card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Card Content Styles */

h3 {
  margin-bottom: 10px;
  color: #333;
}

p {
  text-align: center;
  color: #666;
}

/* Contact Form Styles */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contact-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 10px;
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #ffac33;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff7f00;
}

/* Sidebar Styles */
.sidebar {
  width: 200px;
  background-color: #cd9034;
  color: #ffc800;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}
/* Dashboard Page Styles */
body.dashboard {
  display: grid;
  grid-template-areas:
    "header"
    "sidebar"
    "main"
    "footer";
}

.top-nav {
  grid-area: header;
  width: 100%;
  background-color: #8b7463;
  padding: 10px 0;
}

.sidebar {
  grid-area: sidebar;
}

.content-container {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* Responsive Grid for Larger Screens */
@media screen and (min-width: 768px) {
  body.dashboard {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "footer";
  }
}
.content-container {
  grid-area: main;
  padding: 20px;
}

/* Main Content Styles */
.content-container {
  grid-area: main;
  padding: 20px;
}

.new-arrivals {
  margin-top: 20px;
}

.pet-arrival {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-height: 300px;
}

.pet-arrival img {
  max-width: 200px;
  max-height: 100%;
  border-radius: 10px;
}

.pet-description {
  flex: 1;
}

/* Footer Styles */
.footer {
  background-color: rgba(77, 77, 77, 0.8);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.contact-info,
.copyright {
  margin-bottom: 10px;
}
