/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Global Styles */
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3d9c5;
  color: #4d4d4d;
}

a {
  color: #4d4d4d;
  text-decoration: none;
}

a:hover {
  color: #ffac33;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 36px;
  font-family: "Indie Flower", cursive;
  color: #4d4d4d;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
}

nav {
  background-color: #8b7463;
  padding: 10px 0;
}

nav a {
  color: #f2e8da;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav a:hover {
  background-color: #ffac33;
  color: #4d4d4d;
}
/* Index Page Styles */

.index-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.index-image {
  max-width: 50%;
  height: auto;
}

.adopt-now-button {
  width: 120px;
  height: 60px;
  background-color: #ffac33;
  border-radius: 30px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-button {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ff7f00;
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #ffac33;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff7f00;
}
